@import '../../../styles/variables.scss';

#component--top-menu {
    background: $dark-offwhite;
    border-bottom: 0.5px solid #DAD2D2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: row;
    height: 6rem;
    justify-content: space-between;
}
