@import '../../../../../styles/variables.scss';

.main--btn_new{
    display: flex;
    margin-top: 1rem;
}

.container--btn_new{
    border-radius: 17px;
    width: 15rem;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    background: $light-blue;
    margin-left: 5px;
}

.img--add{
    border: 0;
    border-right: 2px solid $blue-theme;
    border-radius: 10px 0 0 10px;
    background: $blue-theme;
    color: white;
    padding: 0 1rem;
    height: 100%;
    font-size: 3rem;
    display: flex;
    align-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.btn_new{
    border: 0;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1rem;
    background: none;
    color: $grey_text;
    cursor: pointer;
}

.buttonCLoseModal{
    color: $light-grey;
    border: none;
    border-bottom: 1px solid $light-grey;
    background: none;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;

    @include phone {
        font-size: 1.2rem;
    }

}

.main--modal{
    display: flex;
    flex-direction: column;
}

.main--header__modal{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 5rem;
    left: 0;
    top: 0;
    justify-content: space-between;
    background-color: $blue-theme;
    align-items: center;
    padding: 0 2rem 0 2rem;
    z-index: 999;
}

.TitleModal{
    color: $light-grey;
    border: none;
    background: none;
    font-size: 2.5rem;
    font-weight: 500;
    border-left: 1px solid $light-grey;
    padding: 5px 0 5px 20px;
    width: 90%;

    @include tablet {
        width: 85%;
    }

    @include phone {
        font-size: 1.3rem;
        width: 75%;
    }
}