@import '../../../../styles/variables.scss';


.menu-mobile--main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.menu-mobile--modal {
    background: $blue-theme;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
}

.menu-mobile--modal-content {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;

    a {
        color: $white-offwhite;
        text-decoration: none;
        font-size: 3rem;
        border-bottom: 1px solid $white-offwhite;

    }

}

.menu-mobile__pages--projects {
    margin: 2rem 0;

    button {
        border: 0;
        background: $blue-theme;
        color: $white-offwhite;
        text-decoration: none;
        font-size: 3rem;
        border-bottom: 1px solid $white-offwhite;
        width: 100%;
        text-align: initial;
    }
}


.menu-mobile--close-modal {

}