@import '../global/variables.scss';

#component--footer {
    background-color: $grey_border;

    p{
        font-size: 0.5rem
    }

    img {
        height: 1.2rem;
        width: 1.2rem;
    }

}