@import '../global/variables.scss';

#component--footer {
    background-color: $light-grey;
    bottom: 0;
    position: fixed;
    width: 100vw;
    text-align: center;
    height: 5rem;

    p{
        font-size: 1rem;
        font-weight: 600;
    }

    img {
        height: 1.2rem;
        width: 1.2rem;
    }

}