@import '../global/variables.scss';

#component--footer {
    background-color: $light-grey;
    bottom: 0;
    position: fixed;
    width: 100vw;
    text-align: center;

    p{
        font-size: 0.5rem
    }

    img {
        height: 1.2rem;
        width: 1.2rem;
    }

}