@import '../global/variables.scss';

.modal {
    background: $dark-offwhite;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    width: 40%;
    z-index: 100;
}

.modal-header {
    background-color: $grey-with-transparency;
    padding: 1rem;
}

.modal-content {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
}

.modal-content--form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.modal-content--titleAndAbreviation {
    display: flex;
    flex-direction: row;

    p {
        font-weight: 600;
    }
}

.modal-content--title {



    input {

    }
}


    
//     p {
//        

//         &:first-child {
//             margin-top: 1rem;
//         }


//         @include monitor {
//             font-size: 1.3rem;
//         }

//         // @include notebook {
//         //     font-size: 1.2rem;
//         // }
        
//         // @include tablet {
//         //     font-size: 1.5rem;
//         // }
        
//         // @include phone {
//         //     font-size: 1.3rem;
//         // }
        
//         // @include slim {
//         //     font-size: 1.1rem;
//         // }
//     }

//     input {
//         background: $white;
//         border: 1px solid $grey_border;
//         border-radius: 8px;
//         color: $dark-grey;
//         font-weight: 500;
//         height: 2rem;
//         margin: 0.5rem 0 2rem 0;
//         outline: none;
//         padding: 0 16px;
//         width: 100%;

//         @include monitor {
//             font-size: 1rem;
//         }
        
//         // @include notebook {
//         //     font-size: 1rem;
//         // }
        
//         // @include tablet {
//         //     font-size: 1.2rem;
//         //     height: 3rem;
//         // }
        
//         // @include phone {
//         // }
        
//         // @include slim {
//         //     font-size: 0.8rem;
//         // }

//         &:hover {
//             border: 2px solid $turquoise;

//             @include phone {
//                 border: 1px solid $turquoise;
//             }
            
//             @include slim {
//                 border: 1px solid $turquoise;
//             }
//         }
            
//         &:focus-visible {
//             border: 2px solid $turquoise;

//             @include phone {
//                 border: 1px solid $turquoise;
//             }
            
//             @include slim {
//                 border: 1px solid $turquoise;
//             }
//         }
//     }
// }



// @keyframes scale-in {
//     0% {
//       -webkit-transform: scale(0);
//               transform: scale(0);
//     }
//     100% {
//       -webkit-transform: scale(1);
//               transform: scale(1);
//     }
// }

// .modal {
// 	-webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
// 	        animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
			
// }