@import '../global/variables.scss';

#component--search {
    display: flex;
    align-items: center;
}

.component--search__input {
    display: flex;
    align-items: center;
    margin-right: 0.8rem;

    input {
        background: $transparente;
        border: 1px solid $grey_border;
        border-radius: 8px;
        color: $dark-grey;
        font-weight: 500;
        height: 2rem;
        margin: 0.5rem 0;
        outline: none;
        padding: 0 12px;
        width: 17rem;    
        height: 2rem;
        z-index:2;
    }

    .search__input--icon {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 16.7em;
        z-index:1;

        img {
            height: 1.2rem;
            width: 1.2rem;
        }
    }
}

.component--filters {
    margin-left: 0.8rem;

    img {
        height: 2rem;
        width: 2.2rem;
    }
}