@import '../global/variables.scss';

#component--search {
    display: flex;
    align-items: center;
}

.component--search__input {

    input {        
        height: 3rem;
        width: 17rem;

    }

    img {
        height: 60px;
        width: 60px;
    }
}