@import '../global/variables.scss';

#component--top-menu {
    background: $dark-greenish;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
}

#img-logo {
    cursor: pointer;
    width: 85px;

    @include phone {
        width: 70px;
    }
}