@import '../global/variables.scss';

#component--top-menu {
    background: $dark-white;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 15vh;
}

.component--top-menu__logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    #img-logo {
        cursor: pointer;
        height: 80px;
        width: 80px;
    
        @include phone {
            width: 50px;
        }
    }

    p {
        width: 50%;
    }
}

