@import '../global/variables.scss';

#component--top-menu {
    background: $turquoise;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
}

.component--top-menu__logo {
    display: flex;
    flex-direction: row;

    #img-logo {
        cursor: pointer;
        width: 50px;
    
        @include phone {
            width: 50px;
        }
    }
}

