@import '../../../styles/variables.scss';

#component--search {
    display: flex;
    align-items: center;
}

.component--search__input {
    display: flex;
    align-items: center;
    margin-right: 0.8rem;

    input {
        background: $transparente;
        border: 2px solid $grey_border;
        border-radius: 8px;
        color: $dark-grey;
        font-size: 1rem;
        font-weight: 500;
        height: 2.6rem;
        margin: 0.5rem 0;
        outline: none;
        padding: 0 10px;
        width: 17rem;    
        z-index:2;

        @include phone {
            border: 1px solid $grey_border;
            height: 2.2rem;
            width: 15rem;  
            font-size: 0.8rem;
        }
    }

    .search__input--icon {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 16.3rem;
        z-index:1;

        @include phone {
            width: 14.5rem;  
        }

        img {
            height: 1.1rem;
            width: 1.1rem;
        }
    }
}

.component--filters {
    margin-left: 0.8rem;

    img {
        height: 2rem;
        width: 2rem;
    }
}