.rounded_image{
    background-color: #aaa;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 8px 14px 2px #888888
}

.rounded_image.px75{
    width: 3rem;
    height: 3rem;
}

.avatar_image{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.input_image{
    width: 3rem;
    height: 3rem;
    background-color: aqua;
}

.avatar_btn{
    padding: 20px 10px;
    width: 200px;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.input_none{
    display: none;
}