@import '../global/variables.scss';

.btn__send {

    button {
        align-items: center;
        background: $turquoise;
        border: 0;
        border-radius: 8px;
        color: $white;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        font-weight: 600;
        height: 35px;
        justify-content: center;
        width: 10rem;
    }
}

.btn__google {
    align-items: center;
    background: $red_google;
    border: 0;
    border-radius: 8px;
    color: $white-offwhite;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 35px;
    transition: filter 0.2s;
    width: 100%;

    #img-icon__google {
        margin: 0 5%;
        width: 20px;
    }
}