//cores
$white: #fff;
$white-offwhite: #f8f8f8;
$grey_border: #a8a8b3;
$dark-grey: #515158;


$turquoise: #1ac7c5;
$dark-greenish: #119d9c;
$dark-pink: #c86291;
$light-pink: #ddbcc3;

$red_google: #ea4335;

