//colors
$white: #fff;
$white-offwhite: #f8f8f8;
$grey_border: #a8a8b3;
$dark-grey: #515158;

$turquoise: #1ac7c5;
$dark-greenish: #119d9c;
$dark-pink: #c86291;
$light-pink: #ddbcc3;

$red_google: #ea4335;

// media queries
$monitor-width: 1300px;
@mixin monitor {
    @media (min-width: #{$monitor-width}) {
        @content;
    }
}

$notebook-width: 1300px;
@mixin notebook {
    @media (max-width: #{$notebook-width}) {
        @content;
    }
}

$tablet-width: 850px;
@mixin tablet {
    @media (max-width: #{$tablet-width}){
        @content;
    }
}

$phone-width: 500px;
@mixin phone {
    @media (max-width: #{$phone-width}){
        @content;
    }
}

$screen-slim: 800px;
@mixin slim {
    @media (max-height: #{$screen-slim}) {
        @content;
    }
}