//cores
$white: #fff;
$white-offwhite: #f8f8f8;
$dark-grey: #a8a8b3;
$dark-grey_Text: #515158;


$turquoise_logo: #1ac7c5;
$dark-greenish_logo: #119d9c;
$dark-pink_logo: #c86291;
$light-pink_logo: #ddbcc3;

$red_google: #ea4335;

