@import '../../../styles/variables.scss';

.page-list--container{
    display: flex;
    width: 100%;
}

.page-list--itens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4rem 0;
    z-index: 2;

    @include tablet {
        margin: 2rem 0;
    }

    @include phone {
        margin: 2rem 0;
    }
}

#page-item-project{
    width: 100%;
    margin-bottom: 2rem;
}
