@import '../../../../styles/variables.scss';


.modal-out {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $black-with-transparency;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 120%;
    margin-top: -25rem;
    margin-left: -5rem;
}

.modal {
    background: $white-offwhite;
    border-radius: 20px;
    display: flex;
    height: 50%;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    width: 40%;
    z-index: 3;
}

.modal-header {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 40px;
        width: 40px;
    }

    h1 {
        margin-left: 1rem;
        font-weight: 600;
    }
}

.modal-content {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
}

.modal-content--form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0.5rem 5%;

    p {
        font-size: 1.1rem;
        font-weight: 600;
        margin-left: 3px;
    }
}

.modal-content--titleAndAbreviation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;

    input {
        background: $white-offwhite;
        border: none;
        border-bottom: 1px solid $grey_border;
        color: $dark-grey;
        font-weight: 500;
        height: 2.5rem;
        margin: 0.5rem 0 2rem 0;
        outline: none;
        padding: 0 5px;
        width: 100%;

        &:hover {
            border-bottom: 2px solid $turquoise;

            @include phone {
                bborder-bottom: 1px solid $turquoise;
            }
            
            @include slim {
                border-bottom: 1px solid $turquoise;
            }
        }
            
        &:focus-visible {
            border-bottom: 2px solid $turquoise;

            @include phone {
                border-bottom: 1px solid $turquoise;
            }
            
            @include slim {
                border-bottom: 1px solid $turquoise;
            }
        }
    }

}

.modal-content--title {
    width: 60%;
}

.modal-content--abbreviation {
    width: 30%;
}


.modal-content--describe {
    margin-bottom: 1.5rem;

    textarea {
        background: $white;
        border: 1.8px solid $grey_border;
        border-radius: 10px;
        color: $dark-grey;
        font-weight: 500;
        height: 5rem;
        margin-top: 0.5rem;
        outline: none;
        padding: 5px 15px;
        width: 100%;

        // ::-webkit-scrollbar-track {
        //     background-color: #F4F4F4;
        // }
        // ::-webkit-scrollbar {
        //     width: 6px;
        //     background: #F4F4F4;
        // }
        // ::-webkit-scrollbar-thumb {
        //     background: #dad7d7;
        // }

            &:hover {
            border: 2px solid $turquoise;

            @include phone {
                border: 1px solid $turquoise;
            }
            
            @include slim {
                border: 1px solid $turquoise;
            }
        }
            
        &:focus-visible {
            border: 2px solid $turquoise;

            @include phone {
                border: 1px solid $turquoise;
            }
            
            @include slim {
                border: 1px solid $turquoise;
            }
        }
    }
}

