@import '../../../styles/variables.scss';

.page-register--main__container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 45vw;

    @include tablet {
        width: 100vw;
    }
}

.page-register--main__logo  {
    margin-top: 3%;
    width: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

        @include slim {
            width: 10rem;
            justify-content: flex-start
        }

        @include tablet {
            margin-top: 6%;
        }

    #img-logo {
        cursor: pointer;
        width: 120px;
        height: 120px;

        @include slim {
            width: 100px;
            height: 100px;
        }
    }
}

.page-register--main__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2rem 0;
    width: 100%;
    justify-content: center;

    @include slim {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.page-register--main__title{
    margin-top: 1rem;

    @include slim {
        margin-top: 1.5rem;
    }

    @include phone {
        text-align: center;
        margin-top: 1.5rem;
    }


    h1 {
        font-weight: 500;
        font-size: 3.2rem;

        @include slim {
            font-size: 2.1rem;
        }
    
        @include phone {
            font-size: 2rem;
        }
    }

    h2 {
        font-weight: 400;
        font-size: 2rem;

        @include slim {
            font-size: 1.4rem;
        }
    
        @include phone {
            font-size: 1.5rem;
        }

    }
        
    .page-register--main__link-register {
        color: $dark-grey;
        cursor: pointer;
        font-weight: 400;
        text-decoration: underline 1px;
        text-underline-position: from-font;
        font-size: 2rem;

        @include slim {
            font-size: 1.4rem;
        }
    
        @include phone {
            font-size: 1.5rem;
        }

            &:hover {
                font-weight: 600;
                color: $dark-blue-theme;
            }
        }
}


.page-register--main__forms {
    div {
        justify-content: center;
        margin-bottom: 1rem;
        width: 80%;
    }

    form {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        @include slim {
            margin: 0.5rem 0;
        }

        @include phone {
            margin: 0.5rem 0;
        }

        p {
            font-weight: 600;
            font-size: 1.3rem;

            @include slim {
                font-size: 1.1rem;
            }
        }
    }
}

input {
    background: $white;
    border: 1px solid $grey_border;
    border-radius: 8px;
    color: $dark-grey;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5rem 0;
    height: 3rem;
    outline: none;
    padding: 0 16px;
    width: 100%;

    @include slim {
        font-size: 1rem;
        height: 2.5rem;
    }

    &:hover {
        border: 2px solid $dark-greenish;

        @include phone {
            border: 1px solid $dark-greenish;
        }
        
        @include slim {
            border: 1px solid $dark-greenish;
        }
    }
        
    &:focus-visible {
        border: 2px solid $dark-greenish;

        @include phone {
            border: 1px solid $dark-greenish;
        }
        
        @include slim {
            border: 1px solid $dark-greenish;
        }
    }
}

.errorMessage{
    color: $red_error;
    font-weight: 600;

}

