@import '../../styles/variables.scss';

#page-project {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
    justify-content: space-between;
}

.page-project--main__container {
    margin: 0 5rem;
    min-height: calc(100vh - 14rem);

    @include phone {
        margin: 0 1rem;
    }
}
//

.page-project--container__options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
        }

        @include phone {
            flex-direction: column;
        }
}

.page-project--cards {
    /* Colocar grid 3 card maximo por linha.  */

    .page-project--cards__new {
        background-color: $dark-greenish;
        width: 13rem;
        height: 18rem;
        border: 1px solid $dark-greenish;
        border-radius: 15px;
        color: $dark-grey;
        margin: 1rem 0 3rem 0;

        .page-project--cards__new--icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18rem;

            .page-project--cards__new--img{
                height: 10rem;
                width: 10rem;
            }
        }
    }

}