@import '../../../../styles/variables.scss';

.item-project--box {
    max-width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $dark-greenish-with-transparency;
    border: 0;
    border-radius: 8px;
    color: $white-offwhite;
    cursor: pointer;
}

.item-project--content{
    width: 100%;
    height: 100%;
}

.item-project--box-active {

}

.item-project--divider {

}

.item-project--head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-project--menber {
    width: 70%;
}

.btn-more-options {

    button {
        border: none;
        background: $transparente
    
    }

    img {
        width: 40px;
        height: 40px;
    }


}