@import '../../../../styles/variables.scss';

.item-project--box {

}

.item-project--box-active {

}

.item-project--divider {

}

.item-project--head {

}

.btn-more-options {
    width: 30px;
    height: 30px;

    button {
        border: none;
        background: $white-offwhite;
    
    }


}