@import 'variables.scss';

.item-project--box {

}

.item-project--box-active {

}

.item-project--divider {

}

.item-project--head {

}

.item-project--btn-more-options {

    button {
        border: none;
        background: $white-offwhite
    }

    img{
        width: 30px;
        height: 30px;

    }
}