@import '../../../../styles/variables.scss';

.item-project--box {

}

.item-project--box-active {

}

.item-project--divider {

}

.item-project--head {

}

.item-project--btn-more-options {

    border: none;
    background: $white-offwhite

    width: 30px;
    height: 30px;


