.item-project--box {

}

.item-project--box-active {

}

.item-project--divider {

}

.item-project--head {

}

.item-project--btn-more-options {
    width: 30px;
    height: 30px;
    outline: none;
}