@import '../../../../styles/variables.scss';

.item-project--container {
    max-width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $white-offwhite;
    cursor: pointer;

}

.item-project--head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $dark-greenish-with-transparency;
    border-radius: 8px 8px 0 0;
    width: 100%;

}

.item-project--content {
    background: $light-grey;

}

.item-project--divider {
}

.item-project--footer {
    background: $dark-greenish-with-transparency;

}

.item-project--container__initials {
}

.item-project--menber {
    width: 70%;
}

.btn-more-options {

    button {
        margin-top: 1rem;
        border: none;
        background: $transparente
    
    }

    img {
        width: 40px;
        height: 40px;
    }
}