@import '../../../../styles/variables.scss';

.item-project--box {
    width: 80%;
}

.item-project--box-active {

}

.item-project--divider {

}

.item-project--head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-project--menber {
    width: 70%;
}

.btn-more-options {

    button {
        border: none;
        background: $white-offwhite;
    
    }

    img {
        width: 40px;
        height: 40px;
    }


}