@import '../../../../styles/variables.scss';

.component--menu-deslogado{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.button--menu-deslogado{

    button{
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        border: 2px solid #078fb5;
        font-size: 0.8rem;
        background: #078fb5;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }
}