@import '../../../../styles//variables.scss';

#component--top-menu {
    background: $dark-offwhite;
    border-bottom: 0.5px solid #DAD2D2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: row;
    height: 6rem;
    justify-content: space-between;
}

.component--top-menu__logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;

    #img-logo {
        cursor: pointer;
        height: 60px;
        width: 60px;
    }

    p {
        font-size: 1rem;
        font-weight: 600;
        margin-right: 2rem;
        width: 5rem;
    }
}

.component--top-menu__pages {
    align-items: flex-end;
    display: flex;
    font-size: 1.2rem;
    width: 100%;
    height: 4rem;

    @include phone {
        display: none;
    }

    .top-menu__itens {
        list-style: none;
        margin-left: 2rem;

        a {
            color: $dark-grey;
            cursor: pointer;
            font-weight: 500;
            text-decoration: none;
        }

        &:hover {
            margin-bottom: 2px;
            border-bottom: 2px solid $turquoise
        }
    }
}

.component--top-menu__user {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 8rem;
    margin-left: 7rem;


    .component--user__round {
        align-items: center;
        background: $turquoise;
		border: 1px solid $turquoise;
        border-radius: 50%;
        display: flex;
		height: 4rem;
        justify-content: center;
        text-transform: uppercase;
        width: 4rem;

        h1 {
            color: $white
        }
    }
}

.component--menu--mobile {
    display: none;
    margin-right: 1rem;

    @include phone {
        display: flex;

        img {
            cursor: pointer;
            height: 40px;
            width: 30px;
        }
    }
}
