@import '../../../styles/variables.scss';

.page-title {
    margin-top: 1rem;
    display: flex;

    h1 {
        color: $dark-grey;
        font-size: 3.5rem;
        font-weight: 500;
    }

    @include phone {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
    }
}