@import '../../../styles/variables.scss';

#page-project {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
}

.page-project--main__container {
    margin: 1.5rem 5rem;
    min-height: 69vh;
}

.page-project--container__title {
    
    h1 {
        color: $dark-grey;
        font-size: 3.5rem;
        font-weight: 500;
    }
}

.page-project--container__options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.page-project--cards {
    /* Colocar grid 3 card maximo por linha.  */

    .page-project--cards__new {
        background-color: $dark-greenish;
        width: 13rem;
        height: 18rem;
        border: 1px solid $dark-greenish;
        border-radius: 15px;
        color: $dark-grey;
        margin: 1rem 0 3rem 0;

        .page-project--cards__new--icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18rem;

            .page-project--cards__new--img{
                height: 10rem;
                width: 10rem;
            }
        }
    }

}