@import '../../../../styles/variables.scss';


.file--none {
    display: none;
}

.file--btn {
    align-items: center;
    justify-content: center;
    background: #c6c6c9;
    color: #515158;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    height: 2rem;
    width: 10rem;
    margin: 1rem 0;
    padding: 2%;

    &:hover {
        background: $turquoise;
        color: white;
    }
}
