@import '../../../../styles/variables.scss';
@import '../../../../styles/styles.scss';


#page-login {
    background: $white-offwhite;
    display: flex;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
}

.page-login--main__container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 45vw;
    align-items: center;

    @include tablet {
        width: 100vw;
    }

}

.page-login--main__logo {
    margin-top: 3%;
    width: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

        @include slim {
            width: 10rem;
            justify-content: flex-start
        }

        @include tablet {
            margin-top: 6%;
        }

    #img-logo {
        cursor: pointer;
        width: 120px;
        height: 120px;

        @include slim {
            width: 100px;
            height: 100px;
        }
    }
}

.page-login--main__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 2rem 0;
    width: 100%;
}

.page-login--container__title{
    margin-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;

    h1 {
        font-weight: 500;
        font-size: clamp(2.5rem, 4.5vw, 3.2rem)
    }

    h2 {
        font-weight: 400;
        font-size: clamp(1.5rem, 1vw, 2.5rem);
    }
        
    .page-login--main__link-register {
        color: $dark-grey;
        cursor: pointer;
        font-weight: 400;
        text-decoration: underline 1px;
        text-underline-position: from-font;
        font-size: 2rem;

        @include slim {
            font-size: 1.5rem;
        }
    
        @include phone {
            font-size: 1.5rem;
        }

            &:hover {
                font-weight: 600;
                color: $dark-blue-theme;
            }
        }
}

.page-login--main__google {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem 0;

    @include slim {
        margin: 0 0 1rem 0;
    }

}

.page-login--main__divider {
    color: $grey_border;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    margin: 2rem 1rem 2rem 0;
    font-weight: 500;

    @include slim {
        margin: 1rem 1rem 1rem 0;
    }

    @include tablet {
        font-size: 1.5rem;
    }

    @include phone {
        font-size: 1.3rem;
    }

    &::before {
        background: $grey_border;
        content: '';
        flex: 1;
        margin-right: 0.2rem;
        height: 1px;
    }

    &::after {
        background: $grey_border;
        content: '';
        flex: 1;
        margin-left: 0.2rem;
        height: 1px;
    }
}

.page-login--forms__email{
    margin: 2rem 0;
    width: 100%;

    @include slim {
        margin: 0.7rem 0;
    }

    @include phone {
        margin: 0.7rem 0;
    }
}

.page-login--forms__password{
    margin-bottom: 3rem;
    width: 100%;

    @include phone {
        margin-bottom: 1.5rem;
    }
}

.page-login--main__forms {
    display: flex;
    justify-content: center;
    width: 100%;

    form {
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 30rem;
        min-width: 20rem;
        width: 60%;

        @include slim {
            margin: 0;
            min-width: 15rem;
            width: 40%;
        }

        p {
            font-weight: 600;
            font-size: 1.5rem;
            height: 2rem;
            
            @include slim {
                font-size: 1.3rem;
            }

            @include tablet {
                height: 3rem;
                font-size: 1.8rem;
            }

            @include phone {
                height: 2rem;
                font-size: 1.5rem;
            }

        }
    
        input {
            background: $white;
            border: 1px solid $grey_border;
            border-radius: 8px;
            color: $dark-grey;
            font-weight: 500;
            height: 2.5rem;
            margin: 0.5rem 0;
            outline: none;
            padding: 0 16px;
            width: 100%;
            font-size: 1.2rem;

            @include slim {
                font-size: 1rem;
            }

            @include tablet {
                height: 3rem;
                font-size: 1.4rem;
            }

            @include phone {
                font-size: 1.2rem;
            }

            &:hover {
                border: 2px solid $dark-greenish;

                @include phone {
                    border: 1px solid $dark-greenish;
                }
                
                @include slim {
                    border: 1px solid $dark-greenish;
                }
            }
                
            &:focus-visible {
                border: 2px solid $dark-greenish;

                @include phone {
                    border: 1px solid $dark-greenish;
                }
                
                @include slim {
                    border: 1px solid $dark-greenish;
                }
            }
        }
    }
}

.error-field {
    display: flex;
    color: $error-theme;

    .error-field--img {
        margin: 1px 5px 0 0;
        width: 15px;
        height: 15px;
    }

    .error-field--text {
        font-size: 1rem;
        font-weight: 500
    }
}

.page-img {
    overflow: hidden;
    width: 55vw;
    height: 100%;
    object-fit: cover;
    box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.1);

    @include tablet {
        display: none;
    }        
}