@import '../../../../styles/variables.scss';

.component--top-menu__user {

    display: flex;
    justify-content: space-between;
    width: 8rem;
    margin-left: 10rem;
    align-items: center;

    .component--user__round {
        align-items: center;
        background: $turquoise;
		border: 1px solid $turquoise;
        border-radius: 50%;
        display: flex;
		height: 4rem;
        justify-content: center;
        text-transform: uppercase;
        width: 4rem;

        h1 {
            color: $white
        }
    }
}

.component--menu--mobile {
    display: none;
    margin-right: 1rem;

    @include phone {
        display: flex;

        img {
            cursor: pointer;
            height: 40px;
            width: 30px;
        }
    }
}

.modal-btn-open {
    button{
        overflow: hidden;
        cursor: pointer;
        border: 0;
        background-color: $white-offwhite;
    }
}