@import '../../../../styles/variables.scss';

.component--top-menu__user {

    display: flex;
    justify-content: space-between;
    width: 8rem;
    margin-left: 10rem;


    .component--user__round {
        align-items: center;
        background: $turquoise;
		border: 1px solid $turquoise;
        border-radius: 50%;
        display: flex;
		height: 4rem;
        justify-content: center;
        text-transform: uppercase;
        width: 4rem;

        h1 {
            color: $white
        }
    }
}