@import '../../../../../styles/variables.scss';

.container--modal-close{
    display: flex;
    justify-content: flex-end;

    button {
        cursor: pointer;
        border: 0;
        outline: none;
        background: none;
    }
}

.img--close-modal__grey {
    height: 40px;
    width: 40px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include tv {
        height: 70px;
        width: 70px;
    }

    @include phone {
        display: none;
    }
}

.img--close-modal__White {
    display: none;

    @include tv {
        height: 70px;
        width: 70px;
    }

    @include phone {
        height: 40px;
        width: 40px;
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}


.close-modal{
    display: flex;
    flex-direction: column;
}

.item-project--btn-close-modal{
    background: $grey_modal;
    outline: none;
}
