.page-list--itens {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;
    margin: 2rem 0;
    z-index: 2;
}

#page-item-project{
    width: 30%;
    margin-bottom: 3rem;
}
