@import '../../../../styles/variables.scss';

.item-project--container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    background-color: $light-grey;
    border-radius: 0 10px 10px 0;
}

.item-project--head {
    display: flex;
    background: $orange-theme-with-transparency;
    border-radius: 10px 0 0 10px ;
    width: 6rem;
    height: 6rem;
    color: $white-offwhite;
    justify-content: center;
    
    @include slim {
        width: 8rem;
    }

    @include phone {
            width: 4.5rem;
    }
}

.item-project--container__initials {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;

        @include phone {
            font-size: 1.2rem;
        }
    }

    &::before {
        font-size: 1.5rem;
        font-weight: 500;
        content: 'ID-';
        flex: 1;
        margin-right: 0.2rem;

        @include phone {
            font-size: 1.2rem;
        }
    }
}

.item-project--content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 1rem;

    @include tablet {
        width: 60%;
    }

    @include phone {
        width: 45%;
    }
}

.item-project--title {
    width: 70%;
    margin-bottom: 0.2rem;

    .item-project--title__title{
        font-size: 1.5rem;
        font-weight: 600;
        word-break: break-all;

        @include slim {
            font-size: 1.2rem;
        }

        @include phone {
            font-size: 1.3rem;
        }
    }
}

.item-project--subtitle {
    width: 70%;


    .item-project--title__subtitle{
        font-weight: 500;
        font-size: 0.9rem;
        word-break: break-all;

        @include slim {
            font-size: 0.8rem;
        }

        @include tablet {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        @include phone {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.item-project--divider {
    border-left: 2px solid $grey-with-transparency;
    width: 2rem;
    height: 3rem;

    @include tablet {
        border-left: 1px solid $grey-with-transparency;
        width: 1rem;
    }

    @include phone {
        border-left: 1px solid $grey-with-transparency;
        width: 1rem;
    }
}

.item-project--more-options{
    display: flex;
    flex-direction: row;
    width: 8%;
    margin-right: 2rem;

    @include slim {
        margin-right: 3rem;
    }

    .btn-crud {

        button {
            margin: 0.5rem 0 0.4rem 0;
            border: none;
            background: $transparente
        
        }
    
        img {
            width: 40px;
            height: 40px;

            @include slim {
                width: 30px;
                height: 30px;
            }

            @include phone {
                width: 30px;
                height: 30px;
            }
        }
    }

}

.btn-crud-delete {
    margin-left: 1rem;
}



