@import '../../../../styles/variables.scss';

.btn__send--modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20%;

    @include tv {
        height: 15%;
    }

    @include phone {
        height: 15%;
    }

    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        width: 15rem;
        height: 3rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: $white;
        background: $blue-theme;
        border: 0;
        border-radius: 8px;
        cursor: pointer;

        @include tv {
            width: 25rem;
            height: 4.5rem;
            font-size: 2rem;
        }

        @include slim {
            font-size: 1.3rem;
            margin: 0.5rem 0;
            width: 10rem;
            height: 2.5rem;
        }
        
        @include tablet {
            font-size: 2rem;
            height: 45px;
            width: 15rem;
        }
        
        @include phone {
            margin: 0.5rem 0;
            width: 10rem;
            height: 2rem;
            font-size: 1.2rem;
        }
    }
}

.btn-open-modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        align-items: center;
        background: $blue-theme;
        border: 0;
        border-radius: 8px;
        color: $white;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 1.2rem;
        height: 2.5rem;
        justify-content: center;
        margin: 1rem 0;
        width: 10rem;

        @include slim {
            font-size: 1.1rem;
            margin: 0.5rem 0;
            width: 8rem;
        }
        
        @include tablet {
            font-size: 2rem;
            height: 45px;
            width: 100%;
            background: $medium-grey;
            border: 2px solid $medium-grey;
        }
        
        @include phone {
            font-size: 2rem;
            height: 45px;
            width: 100%;
            background: $medium-grey;
            border: 2px solid $medium-grey;
            font-size: 1.5rem;
            margin: 0;
        }
    }    
}

.modal-mobile--btn-open {
    button{
        overflow: hidden;
        cursor: pointer;
        border: 0;

    }

}

.icon-close-modal {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
        cursor: pointer;
        border: none;
        outline: none;
        background: $grey_modal;
    }

    img {
        height: 40px;
        width: 40px;
        background-color: none;

        @include tv {
            height: 70px;
            width: 70px;
        }

        @include phone {
            height: 25px;
            width: 25px;
        }
    }
}

.close-modal{
    display: flex;
    flex-direction: column;
}

