#page-list-project{
    display: grid;
    justify-items: start;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr 2fr;
}

.page-list--itens {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 3;
    grid-column-gap: 20px;
}