.page-project--list{
    display: grid;
    justify-items: start;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr 2fr;
}

#page-list-project{
    grid-column: 3;
    grid-column-gap: 20px;
}

