.page-list--itens {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
    margin: 2rem 0 2rem 5rem;
}

#page-item-project{
    width: 30%;
    margin-bottom: 10rem;
}

