.page-project--list{
    display: grid;
    justify-items: start;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr 2fr;
}

#page-list-project{
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(14, 1fr);
}

