#page-list-project{
    display: grid;
    justify-items: start;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-columns: repeat(14, 1fr);
}

.page-list--itens {
    display: grid;
    grid-template-columns: repeat(14, 1fr);

}

