#page-list-project{

}

.page-list--itens {
    display: grid;
    justify-items: start;
    justify-content: space-between;


}

.page-item-project{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

