#page-list-project{

}

.page-list--itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    flex-wrap: wrap;
}

#page-item-project{
    width: 30%;
    margin: 2rem 0 2rem 2remm;
}

