@import '../../../styles/styles.scss';


.modal-main {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.modal-out {
    background: $black-with-transparency;
    position: fixed;
    height: 150vh;
    width: 150vw;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: $white-offwhite;
    border-radius: 20px;
    max-width: 95vw;
    min-width: 30vw;
    top: 10%;
    z-index: 999;
    overflow: hidden;
    padding: 0.5rem 2rem;

}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;

    .modal-header--title{
        font-size: calc(6px + 0.9vw)
    }

    img {
        height: 30px;
        width: 30px;
    
        @include tv {
            height: 50px;
            width: 50px;
        }
    }
}

.modal-content--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    
    @include tv {
        justify-content:flex-start;
    }

    @include phone {
        justify-content:center;
    }

    p {
        font-size: calc(8px + 0.9vw);
        font-weight: 600;
        color: $dark-blue-theme;
        width: 35%;
        margin-right: 5%;


        @include tv {
            font-size: 2.5rem;
        }

        @include phone {
            font-size: 1rem;
        }
    }

    input {
        width: 60%;
        outline: 0;
        border: 0 none;
        border-bottom: 1px solid $dark-blue-theme;
        background-color: $white-offwhite;
        font-size: calc(10px + 0.5vw);

        &:hover {
            border: 0 none;
            outline: 0;
            border-bottom: 2px solid $turquoise;

            @include phone {
                border: 0 none;
                border-bottom: 1px solid $turquoise;
            }
            
            @include slim {
                border: 0 none;
                border-bottom: 1px solid $turquoise;
            }
        }

        &:focus-visible {
            border: 0 none;
            border-bottom: 2px solid $turquoise;

            @include phone {
                border: 0 none;
                border-bottom: 1px solid $turquoise;
            }
            
            @include slim {
                border: 0 none;
                border-bottom: 1px solid $turquoise;
            }
        }
    }
}

.modal-content--abbreviation {
    margin-top: calc(15px + 0.8vw);
    margin-bottom: calc(10px + 1vw);
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tv {
        margin-top: 2rem;
        margin-bottom: 0.2rem;
    }
}

.modal-content--title {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tv {
        margin-top: 2rem;
    }
}


.modal-content--describe {
    margin-top: calc(15px + 0.8vw);
    margin-bottom: calc(10px + 1vw);
    display: flex;
    flex-direction: column;

    @include tv {
        margin-top: 2rem;
        margin-bottom: 0.2rem;
    }

    p {
        width: 90%;
    }

    textarea {
        width: 100%;
        height: calc(70px + 2vw);
        font-weight: 500;
        color: $dark-grey;
        background: $white;
        border: 1.8px solid $dark-blue-theme;
        border-radius: 10px;
        outline: none;
        padding: 5px;
        font-size: calc(10px + 0.5vw);

        &::-webkit-input-placeholder {
            color: $medium-grey;
          }

        &:hover {
            border: 2px solid $turquoise;

        @include phone {
            border: 1px solid $turquoise;
        }
        
        @include slim {
            border: 1px solid $turquoise;
        }
    }
        
    &:focus-visible {
        border: 2px solid $turquoise;

        @include phone {
            border: 1px solid $turquoise;
        }
        
        @include slim {
            border: 1px solid $turquoise;
        }
    }
    }
}

