@import '../../../styles/styles.scss';


.modal-main {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.modal-out {
    background: $black-with-transparency;
    position: fixed;
    height: 150vh;
    width: 150vw;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;

}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: $white-offwhite;
    border-radius: 20px;
    height: 50vh;
    width: 30vw;
    top: 10%;
    z-index: 999;
    overflow: hidden;

    @include notebook {
        width: 40vw;
    }

    @include tablet {
        width: 70vw;
    }

    @include slim {
        width: 50vw;
        height: 70vh;
    }

    @include phone {
        width: 90vw;
        height: 48vh;
    }
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    width: 100%;
    height: 20%;

    @include tv {
        max-height: 15%;
    }

    @include phone {
        max-height: 15%;
        padding: 0.5rem 1.8rem;
    }

    img {
        height: 30px;
        width: 30px;
    
        @include tv {
            height: 50px;
            width: 50px;
        }

        @include slim {
            height: 30px;
            width: 30px;
        }

        @include phone {
            height: 25px;
            width: 25px;
        }
    }
}

.modal-header--title {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablet {
        font-size: 0.7rem;
    }

    @include phone {
        font-size: 0.6rem;
    }

    h1 {
        font-size: 1.7rem;
        font-weight: 600;
        margin-left: 1rem;

        @include tv {
            font-size: 3rem;
        }

        @include slim {
            margin-left: 0.8rem;
        }
    
        @include phone {
            font-size: 1.2rem;
            margin-left: 0.2rem;
        }
    }
    
}

.modal-content--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 3rem;
    width: 100%;
    height: 60%;
    
    @include tv {
        height: 70%;
        justify-content:flex-start;
        padding: 0 3rem;
    }

    @include phone {
        height: 70%;
        justify-content:center;
        padding: 0 2rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 600;
        color: $dark-blue-theme;
        background-color: $light-grey;
        border-radius: 10px;

        @include tv {
            font-size: 2.5rem;
        }

        @include phone {
            font-size: 1rem;
        }
    }
}

.modal-content--titleAndAbreviation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;

    @include tv {
        flex-direction: column;
        margin: 2.5rem 0;
    }

    @include tablet {
        flex-direction: column;
    }

    @include phone {
        flex-direction: column;
    }

    input {
        margin: 0.5rem 0 2rem 0;
        padding: 0 5px;
        width: 100%;
        height: 2.5rem;
        font-weight: 500;
        color: $dark-grey;
        background: $white-offwhite;
        border: none;
        border-bottom: 1px solid $grey_border;
        outline: none;

        &::-webkit-input-placeholder {
            color: $medium-grey;
          }

        @include tv {
            margin: 2rem 0;
            font-size: 1.8rem;
        }

        @include slim {
            margin: 0.5rem 0 1rem 0;
        }

        @include phone {
            margin: 0rem 0 1rem 0;
            height: 2rem;
            font-size: 0.8rem;
        }

        &:hover {
            border-bottom: 2px solid $turquoise;

            @include phone {
                bborder-bottom: 1px solid $turquoise;
            }
            
            @include slim {
                border-bottom: 1px solid $turquoise;
            }
        }
            
        &:focus-visible {
            border-bottom: 2px solid $turquoise;

            @include phone {
                border-bottom: 1px solid $turquoise;
            }
            
            @include slim {
                border-bottom: 1px solid $turquoise;
            }
        }
    }

}

.modal-content--title {
    width: 60%;

    @include tv {
        width: 90%;
    }

    @include tablet {
        width: 90%;
    }

    @include phone {
        width: 90%;
    }

    p {
        padding: 2%;
    }
}

.modal-content--abbreviation {
    width: 30%;

    @include tv {
        width: 50%;
    }

    @include tablet {
        width: 40%;
    }

    @include phone {
        width: 40%;
    }

    p {
        padding: 4%;
    }
}


.modal-content--describe {
    margin-bottom: 1.5rem;

    @include phone {
        margin-bottom: 0.5rem;
    }

    p {
        padding: 2%;
    }

    textarea {
        margin-top: 0.5rem;
        padding: 5px 15px;
        width: 100%;
        height: 5rem;
        font-weight: 500;
        color: $dark-grey;
        background: $white;
        border: 1.8px solid $grey_border;
        border-radius: 10px;
        outline: none;

        &::-webkit-input-placeholder {
            color: $medium-grey;
          }

        @include tv {
            height: 10rem;
            font-size: 1.8rem;
        }

        @include phone {
            height: 4rem;
            font-size: 0.8rem;
            border: 1.0px solid $grey_border;
        }

            &:hover {
            border: 2px solid $turquoise;

            @include phone {
                border: 1px solid $turquoise;
            }
            
            @include slim {
                border: 1px solid $turquoise;
            }
        }
            
        &:focus-visible {
            border: 2px solid $turquoise;

            @include phone {
                border: 1px solid $turquoise;
            }
            
            @include slim {
                border: 1px solid $turquoise;
            }
        }
    }
}

