@import '../../../styles//variables.scss';

.page-profile--main__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 13rem);
    margin: 0 5rem
}

.main__content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;

    @include phone {
        margin-top: 1rem;
    }
}

.main__forms{
    width: 100%;
    max-width: 30rem;
}

.main__forms--content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-profile__forms{
    width: 100%;
    flex-direction: column;
}

.forms__content{
    margin: 2rem 0;

    @include phone {
        margin: 1rem 0;
    }

    p {
        font-weight: 600;
        margin-top: 1rem;
    }

    input {
        font-weight: 500;
        margin-top: 0.8rem;
        color: $grey_text;
    }
}

.page-profile--forms__email{
    input{
        background: $noClick-grey;
    }
}