@import '../../../styles//variables.scss';

.page-profile--main__container{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 13rem);
    margin: 0 5rem
}

.main__content{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;

    @include phone {
        flex-direction: column;
    }
}

.container--avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-profile--divider{
    width: 3rem;
    border-right: 1px solid $medium-grey;
    height: 12rem;

    @include phone {
        display: none;
    }
}

.main__forms{
    width: 60%;
    max-width: 30rem;
    margin-left: 3rem;
    margin-bottom: 1rem;

    @include phone {
        margin-left: 0;
        width: 100%;
    }
}

.main-profile__forms{
    p{
        font-weight: 600;
        margin-top: 1rem;
    }
}

.container--btn-send{
    width: 80%;
    margin-bottom: 1rem;

    @include phone {
        width: 100%;
    }
}