.component--top-menu__logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;

    #img-logo {
        cursor: pointer;
        height: 60px;
        width: 60px;
    }

    p {
        font-size: 1rem;
        font-weight: 600;
        margin-right: 2rem;
        width: 5rem;
    }
}