@import '../../../styles/styles.scss';

.message--container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $grey_modal;
    position: absolute;
    top: 30%;
    left: 20%;
    height: 15rem;
    border-radius: 20px;
    width: 25rem;
    height: 13rem;
    z-index: 999;

    @include phone {
        left: 3rem;
        width: 20rem;
    }
}

.message--header{
    background: none;
    display: flex;
    margin: 1rem 1rem 0 2rem;
    justify-content: flex-end;
}

.message--content{
    display: flex;
    align-items: center;
    flex-direction: column;

    .message--text{
        font-size: 1.5rem;
        font-weight: 500;
        padding: 2rem;
        text-align: center;
    }

}

.item-project--btn-close-modal{
    background: $grey_modal;
    outline: none;
}