@import '../global/variables.scss';


#page-login {
    background: $white-offwhite;
    display: flex;
    height: 100vh;

}

main{
    display: flex;
    flex-direction: row;
}

.page-login--main__container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    @include monitor {
        width: 40vw;
    }
    
    @include notebook {
        width: 50vw;
    }

    @include tablet {
        width: 100vw;
    }
}

.page-login--main__logo {
    margin-top: 3%;

    #img-logo {
        cursor: pointer;
        width: 100px;

        @include phone {
            width: 70px;
        }
    }
}

.page-login--main__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    @include slim {
        margin-bottom: 1rem;
    }
}

.page-login--container__title{

    h1 {
        font-weight: 500;

        @include monitor {
            font-size: 3.2rem;
        }
        
        @include notebook {
            font-size: 2.5rem;
        }
    
        @include tablet {
            font-size: 2rem;
        }
    
        @include phone {
            font-size: 1.8rem;
        }

        @include slim {
            font-size: 2rem;
        }
    }

    h2 {
        font-weight: 400;

        @include monitor {
            font-size: 2rem;
        }
        
        @include notebook {
            font-size: 1.5rem;
        }
    
        @include tablet {
            font-size: 1.3rem;
        }
    
        @include phone {
            font-size: 1.1rem;
        }

        @include slim {
            font-size: 1.3rem;
        }
    }
        
    .page-login--main__link-register {
        color: $dark-grey;
        cursor: pointer;
        font-weight: 400;
        text-decoration: underline 1px;
        text-underline-position: from-font;

        @include monitor {
            font-size: 2rem;
        }
        
        @include notebook {
            font-size: 1.5rem;
        }
    
        @include tablet {
            font-size: 1.3rem;
        }
    
        @include phone {
            font-size: 1.1rem;
        }

        @include slim {
            font-size: 1.3rem;
        }

            &:hover {
                font-weight: 600;
            }
        }
}

.page-login--main__google {
    align-self: center;
    display: flex;

    @include monitor {
        margin: 2rem 0;
        width: 18rem;
    }
    
    @include notebook {
        width: 16rem;
    }
    
    @include tablet {
        width: 14.5rem;
    }
    
    @include phone {
        width: 12rem;
    }
    
    @include slim {
        margin: 0.8rem 0;
        width: 14rem;
    }
}

.page-login--main__divider {
    color: $grey_border;
    font-size: 1rem;

    align-items: center;
    display: flex;
    margin: 2rem 1rem 2rem 0;

    @include slim {
        margin: 1rem 1rem 1rem 0;
    }

    &::before {
        background: $grey_border;
        content: '';
        flex: 1;
        margin-right: 0.2rem;
        height: 1px;
    }

    &::after {
        background: $grey_border;
        content: '';
        flex: 1;
        margin-left: 0.2rem;
        height: 1px;
    }
}

.page-login--login-forms__name{
    width: 100%;
}

.page-login--login-forms__password{
    margin: 1.5rem 0;
    width: 100%;
}

.page-login--main__login-forms {
    display: flex;
    justify-content: center;
    width: 100%;

    form {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 2rem 0;


        @include monitor {
            max-width: 25rem;
            width: 75%;
        }
        
        @include notebook {
            min-width: 18rem;
            width: 50%;
        }
        
        @include tablet {
            margin: 2rem 0;
            max-width: 25rem;
            width: 75%;
        }
        
        @include phone {
            margin: 2rem 0;
            max-width: 25rem;
            width: 75%;
        }
        
        @include slim {
            margin: 1rem 0;
            min-width: 20rem;
            width: 40%;
        }

        p {

            @include monitor {
                font-size: 1.3rem;
            }
            
            @include tablet {
                font-size: 1.3rem;
            }
            
            @include phone {
                font-size: 1.3rem;
            }
            
            @include slim {
                font-size: 1.1rem;
            }
        }
    
        input {
            background: $white;
            border: 1px solid $grey_border;
            border-radius: 8px;
            color: $dark-grey;
            font-weight: 500;
            height: 2rem;
            margin: 0.5rem 0;
            outline: none;
            padding: 0 16px;
            width: 100%;

            @include monitor {
            }
            
            @include notebook {
            }
            
            @include tablet {
            }
            
            @include phone {
            }
            
            @include slim {
            }
    
            &:hover {
                border: 2px solid $dark-greenish;
            }
                
            &:focus-visible {
                border: 2px solid $dark-greenish;
            }
        }
    }
}

.page-login--main__img {

    img {
        box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.1);
        height: 100vh;
    }

    @include monitor {
        display: block;
        width: 60vw;
    }
    
    @include notebook {
        width: 50vw;
    }

    @include tablet {
        display: none;
    }
}