@import '../global/variables.scss';

#page-login {
    background: $white-offwhite;
    display: flex;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
}

.page-login--main__container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 40vw;
}

.page-login--main__logo {

    #img-logo {
    margin-top: 0.5rem;
    width: 100px;
    }
}

.page-login--main__title {
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem;

    h1 {
        font-size: 3.2rem;
        font-weight: 500;
    }

    h2 {
        font-size: 2rem;
        font-weight: 400;
    }
        
    .page-login--main__link-register {
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: underline 1px;
        text-underline-position: from-font;
        }
}

.page-login--main__google {
    align-self: center;
    display: flex;
    margin: 2rem 0;
    width: 18rem;
}

.page-login--main__divider {
    color: $grey_border;
    font-size: 1rem;

    align-items: center;
    display: flex;
    margin: 2rem 1rem 2rem 0;

    &::before {
        background: $grey_border;
        content: '';
        flex: 1;
        margin-right: 0.2rem;
        height: 1px;
    }

    &::after {
        background: $grey_border;
        content: '';
        flex: 1;
        margin-left: 0.2rem;
        height: 1px;
    }
}

.page-login--main__login-forms {
    display: flex;
    justify-content: center;
    width: 100%;

    form {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        max-width: 25rem;
        width: 75%;

        p {
            font-size: 1.3rem
        }
    
        input {
            background: $white;
            border: 1px solid $grey_border;
            border-radius: 8px;
            color: $dark-grey;
            font-weight: 500;
            height: 2rem;
            margin: 0.5rem 0;
            outline: none;
            padding: 0 16px;
            width: 100%;
    
            &:hover {
                border: 2px solid $dark-greenish;
            }
                
            &:focus-visible {
                border: 2px solid $dark-greenish;
            }
        }
    }
}

.page-login--login-forms__name{
    width: 100%;
}

.page-login--login-forms__password{
    margin: 1.5rem 0;
    width: 100%;
}

.page-login--main__img {

    img {
        box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.1);
        height: 100vh;
        width: 60vw;
    }
}