#page-login {
    display: flex;
    height: 100vh;
    background: #f8f8f8;
}

main{
    display: flex;
    flex-direction: row;

    .page-login--main__container {
        width: 40vw;
        display: flex;
        flex-direction: column;
    }

    .page-login--main__logo {

        #img-logo {
        width: 100px;
        margin-top: 0.5rem;
        }
    }

    .page-login--main__title {
        display: flex;
        flex-direction: column;
        margin: 2rem 3rem;

        h1 {
          font-size: 3.2rem;
          font-weight: 500;
        }
        h2 {
            font-size: 2rem;
            font-weight: 400;
          }
        .page-login--main__link-register {
            font-size: 1.5rem;
            font-weight: 400;
            text-decoration: underline 1px;
            text-underline-position: from-font;
          }
    }

    .page-login--main__google {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;
        align-self: center;
        width: 18rem;
         
            .btn__google {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 35px;
                align-items: center;
                background: #ea4335;
                color: #FFF;
                border-radius: 8px;
                cursor: pointer;
                border: 0;
                transition: filter 0.2s;

                #img-icon__google {
                    width: 20px;
                    margin: 0 5%;
                }
            }
    }

    // .page-login--main__divider {

    // }

    // .page-login--main__login-forms {

    // }

    .page-login--main__img {

        img {
        height: 100vh;
        width: 60vw;
        box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.1);
        }
    }
}


