@import '../global/variables.scss';

.page-project--main__container {
    margin: 2rem 5rem;
}

.page-project--container__title {
    
    h1 {
        font-size: 4rem;
        font-weight: 500;
    }
}